.navbar	{
    margin-bottom: 0;
}

body    {
    overflow: hidden;
}

#fdmlogo	{
    height: 60px;
    width: 150px;
    margin-left: -40px;
}

.jumbotron	{
    min-height: 900px !important;
    background-image: url("jumbotron_background.jpg");
    background-size: cover;
}

.usersection    {
    height: 200px;
    width: 100%;
    background-color: #212529;
    margin-bottom: 50px;
}

#usersectionicon    {
    position: relative;
    font-size: 75px;
    top: 20px;
    left: 50px;
    color: #FFFFFF;
}

.usersection form   {
    position: relative;
    top: -200px;
    padding-bottom: 20px;
    padding-right: 45px;
    text-align: right;
}

#usersectiontext    {
    position: relative;
    left: 280px;
    top: -130px;
    color: #FFFFFF;
    font-size: 18px;
}

#usersectionheading {
    position: relative;
    top: 20px;
    left: 35px;
    color: white;
}

select  {
    padding: 5px 10px;
}

button  {
    background-color: #FFFFFF;
    border: none;
    color: #212529;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 190px;
}

input:not(.signoutbutton) {
    background-color: #FFFFFF;
    border: none;
    color: #212529;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 190px;
}

.signoutbutton  {
    background-color: #212529;
    color: #FFFFFF;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    border: none;
    padding: 15px 10px 15px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 190px;
    margin-top: -10px;
    position: relative;
    bottom: 25px;
}

.fa {
    font-size: 100px;
}